/* 
The Box Model

-The Content
-The Padding - the space around the outside of our content but still inside the yellow background.
-The Border - a decorative pattern that we can put all the way around our content.
-The Margin - the amount of whitespace you have outside of your box.


*/

/* h1 {
    background-color: yellow;
    padding: 10px 40px;
    border-style: solid;
    border-width: 5px;
    border-color: blue;
} */

/* h1{
    background-color: yellow;
    padding: 10px 40px;
    border: 3px dotted red;
} */


h1{
    background-color: yellow;
    padding: 10px 40px;
    border-top: 4px dotted red;
    border-bottom: 8px groove orange;
}